# SQL Data Analysis Pewlett Hackard
----

#### Note

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from config import username, password
from sqlalchemy import create_engine

In [13]:
# Create Engine and Pass in PostgreSQL Connection
# engine = create_engine(f'postgresql://{user_name}:{password}@{host}/{data_base}')
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql-challenge')
connection = engine.connect()

In [16]:
salaries = pd.read_sql("SELECT * FROM salaries", connection)
salaries.head()

Empty DataFrame
Columns: [emp_no, salary]
Index: []

In [17]:
titles = pd.read_sql("SELECT * FROM titles", conn)
titles.head()

Empty DataFrame
Columns: [title_id, title]
Index: []